<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}Static Top Navbar Example for Bootstrap{% endblock title %}</title>
        {% block style %}
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/sticky-footer.css' %}" rel="stylesheet">
        <!--<link href="{% static 'css/mycss.css' %}" rel="stylesheet">-->
        {% endblock style %}
    </head>
    <body onload="process()">
        <!-- Static navbar -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Ghagric</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'blog:index' %}">Blog</a></li>
                        <li><a href="">Firms</a></li>
                        <li><a href="#contact">News</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact <span class="sr-only">(current)</span></a></li>
                        <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <p id="para">Try para</p>
            {% block container %}
            <div class="body-main">
                {% block body-main %}
                {% endblock body-main %}
            </div>
            {% endblock container %}
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-muted">
                        <p>CONTACT</p>
                        <span class="txt">+233242271258</span><br />
                        <span class="txt">ib.waki@yahoo.com</span>
                    </div>
                    <div class="col-md-4 text-muted">
                        <p>OUR MISSION</p>
                        <span class="txt">
                            To provide quality data and news as well as articles with regardS to AGRICULTURE
                        </span>
                    </div>
                    <div class="col-md-4 text-muted">
                        <p>PARTNERS</p>
                        <span class="txt">Waki Company</span><br />
                        <span class="txt">GH Agriculture</span>
                    </div>
                </div>
            </div>
        </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.12.3.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>

